node_modules
.DS_Store
npm-debug.log
yarn-error.log
dist/
.env
.env.local
generated-qr-codes/
*.txt
*.sql
*.xlsx
*.csv
.vscode/
#DOCS
IMPLEMENTATION_PLAN_PRINT.html
FRAUD_PREVENTION_ANALYSIS.md
WHATSAPP_COSTING_ANALYSIS.md
security_best_practices_report.md
.vscode
Autoform and AFAC store data for FMS.json
safari_login_incident_report.md
$Book1_geocoded.xlsx
Book1_geocoded.xlsx
Book1.xlsx
Fixing Date Type Mismatch Warranty.md